@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Sansita+Swashed&family=Yellowtail&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




.btn-contact {
  align-items: center;
}

body {
  font-family: 'Dosis', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #333;
  font-family: 'Sansita Swashed', cursive;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  font-family: 'Yellowtail', cursive;
}

p {
  margin: 10px 0;
}


/* Nav */
.navbar {
  background-color: #333;
  color: white;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px white solid;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar img[src="Assets/Search-icon.png"] {
  max-height: 28px;
  max-width: 28px;
  background-color: ;
}

img {
  max-height: 100%;
  max-width: auto;
}


.navbar input {
  height: 34px;
  width: 200px;

}

.cart {
  background-color: #333;
}
/* Footer */

.footer {
  background-color: #333;
  color: white;
  height: 300px;
  overflow: visible;
}

.footer a {
  color: white;
  padding: 10px;
  margin: 0 5px;
}

.footer ul {
  display: flex;
}

.footer img {
  max-height: 150px;
  
  overflow: visible;
}



/* Showcase */
.showcase {
  height: 400px;
  background-color: teal;
  color: black;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 50px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #333;
  
}

/* Padding */

.py-4 {
  padding: 3rem 0;
}

/* Utilties */

.container {
  max-width: 2440px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 5px;
}

.card {
background-color: white;
border-radius: 10px;
color: black;
box-shadow: 0 3px 10px rgba(0,0,0,0.2);
padding: 20px;
margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: teal;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px white solid;
}

.btn:hover{
  transform: scale(0.98)
}

.bg-black {
  background-color: #333;
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}





/* .navold {
  display: flex;
  background-color: #333333
}

.left {
  
  width: 50%;
  float: left;
  background-color: #333333;
}

.right {
  
  width: 50%;
  float: right;
  background-color: #333333;
}

.ulleft {
  
  float: left;
}

.ulright {
  
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li, input, button {
 float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

input [type=text] {
  float: left;
  padding: 6px;
  border: none;
  align-items: center;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  size: 40px;
}
.search {
  flex: 1;
  position: relative;
  
  top: 10px;
  height: 24px;
  width: 200px;
  left: 20px;
} */

#search-button {
  background-color: red; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 1px 1px; /* Minimal padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height: 30px;
  width: 30px;
  position: relative;
  size:
}


/* @media all and (max-width: 400px) {  
    
  .navold {  
    flex-wrap: wrap;  
  }
  ul > li {  
    flex-basis: 100%;  
  }
  .search {  
    order: 1;  
  }
}   */